* {
    font-size: 15px;
}
body {
    display: block;
}
#center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#main-elem {
    width: 300px;
    height: 450px;
}
#Weather h1{
    font-size: 25px;
    margin-top: 5%;
}
#time {
    margin-bottom: 10px;
}
#img {
    width: 150;
    height: 150px;
}